<div class="container titulo">
  <h2 style="color:#3a6dbc">Caja General</h2>
</div>
<div class="container mt-3">
  <div class="rowcaja">
    <div class="form-group">
        <a mat-stroked-button color="primary" (click)="getTotalRegistro()">
            <mat-icon>{{iconoc}}</mat-icon> {{textbtnc}}
         </a>
    </div>
    <div class="form-group">
        <a mat-stroked-button color="accent" (click)="viewRegistrarCaja()">
            <i class="{{icono}}"></i> {{textbtn}}
        </a>
    </div>    
  </div>
  <mat-card *ngIf="viewFormulario" class="mat-elevation-z4 mt-3">
      <h3 style="color:#3a6dbc"><i class="fa fa-plus"></i> Nuevo Registro</h3>
      <form name="form" (ngSubmit)="f.form.valid && saveRegistroCaja()" #f="ngForm" novalidate>
          <div class="rowuno"  [formGroup]="form">
              <mat-form-field style="width:180px;" appDateFormat>
                  <mat-label>Fecha</mat-label>
                  <input matInput [matDatepicker]="pickerF"   (dateChange)="onChangeDateCaja($event)"  formControlName="today">
                  <mat-datepicker-toggle matSuffix [for]="pickerF"></mat-datepicker-toggle>
                  <mat-datepicker #pickerF></mat-datepicker>
              </mat-form-field>
          </div>
          <div class="rowuno">
              <div class="form-group tiporegistro">
                  <mat-form-field>
                      <mat-label for="tiporegistro_id">Tipo Registro</mat-label>
                      <mat-select name="tiporegistro_id" [(ngModel)]="newRegistroCaja.tiporegistro_id"
                          (ngModelChange)="changeTipoRegistro($event)" required>
                          <mat-option *ngFor="let tregistro of tipoRegistros;" [value]="tregistro.id">
                              {{tregistro.name}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
              <div class="form-group conceptos">
                  <mat-form-field style="width: 250px;">
                      <mat-label for="concepto_id">Concepto</mat-label>
                      <mat-select name="concepto_id" [(ngModel)]="newRegistroCaja.concepto_id"
                          (ngModelChange)="changeConceptos($event)" required>
                          <mat-option></mat-option>
                          <mat-option *ngFor="let concepto of conceptos;" [value]="concepto.id">
                              {{concepto.descripcion}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
              <div class="form-group subconceptos">
                  <mat-form-field style="width: 250px;">
                      <mat-label for="subconcepto_id">Subconcepto</mat-label>
                      <mat-select name="subconcepto_id" [(ngModel)]="newRegistroCaja.subconcepto_id" required>
                          <mat-option></mat-option>
                          <mat-option *ngFor="let subconcepto of subConceptos;" [value]="subconcepto.id">
                              {{subconcepto.descripcion}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>             
          </div>
          <div class="rowdos">
              <div class="form-group tipocomprobante">
                  <mat-form-field>
                      <mat-label for="tipocomprobante_id">Tipo Comprobante</mat-label>
                      <mat-select name="tipocomprobante_id" [(ngModel)]="newRegistroCaja.tipocomprobante_id"
                      (ngModelChange)="changeComprobante($event)">
                          <mat-option></mat-option>
                          <mat-option *ngFor="let tc of tipoComprobantes;" [value]="tc.id">
                              {{tc.descripcion}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
              <div class="form-group nrocomprobante">
                  <mat-form-field>
                      <input matInput type="text" [(ngModel)]="newRegistroCaja.nrocomprobante"
                          placeholder="Nro. Factura/Comprobante" name="nrocomprobante" #nrocomprobante="ngModel" />
                  </mat-form-field>
              </div>
              <div class="form-group proveedor">
                <mat-form-field>
                  <mat-label for="proveedor_id">Proveedor</mat-label>
                  <mat-select name="proveedor_id" [(ngModel)]="newRegistroCaja.proveedor_id">
                      <mat-option></mat-option>
                      <mat-option *ngFor="let p of proveedores;" [value]="p.id">
                          {{p.descripcion}}
                      </mat-option>
                  </mat-select>
              </mat-form-field>
              </div>
              <div class="form-group nroordenpago">
                  <mat-form-field>
                      <input matInput type="text" [(ngModel)]="newRegistroCaja.nroordenpago"
                          placeholder="Nro. Orden Pago" name="nroordenpago" #nroordenpago="ngModel" />
                  </mat-form-field>
              </div>
          </div>
          <div class="rowtres">
              <div class="form-group formapago">
                  <mat-form-field>
                      <mat-label for="formapago_id">Forma Pago</mat-label>
                      <mat-select name="formapago_id" [(ngModel)]="newRegistroCaja.formapago_id" required>
                          <mat-option></mat-option>
                          <mat-option *ngFor="let fp of formaPagos;" [value]="fp.id">
                              {{fp.descripcion}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
              <div class="form-group importe">
                  <mat-form-field>
                      <input matInput type="text" [(ngModel)]="newRegistroCaja.importe" placeholder="Importe"
                          name="importe" #importe="ngModel" required />
                  </mat-form-field>
              </div>
          </div>
          <div class="rowcuatro">
              <mat-form-field class="example-full-width">
                  <textarea matInput placeholder="Escribe una descripcion..." name="descripcion"
                      #descripcion="ngModel" [(ngModel)]="newRegistroCaja.observacion">
                  </textarea>
              </mat-form-field>
          </div>
          <div class="rowcinco">
              <button mat-raised-button color="primary" type="submit">
                  <mat-icon>save</mat-icon> Guardar
              </button>
          </div>
      </form>
  </mat-card>
</div>
<div class="container mt-3">
    <mat-card style="width: 100%;" *ngIf="btnVerTotal">
        <mat-card-content>          
                <div class="cajarow">
                    <div  class="form-group">
                     Total Ingreso: ${{registroGeneral?.ingreso | number}} 
                    </div>
                    <div  class="form-group">
                     Total Egreso: ${{registroGeneral?.egreso | number}} 
                    </div>
                    <div  class="form-group">
                     Saldo Actual: ${{registroGeneral?.neto | number}} 
                    </div>
                 </div>                   
        </mat-card-content>
    </mat-card>   
    <mat-card class="mat-elevation-z4 mt-3">
        <h3 style="color:#3a6dbc"><i class="fa fa-book"></i> Consultar Registros</h3>
        <div class="rowDate">
            <div class="form-group rangofechas" [formGroup]="form">
                <mat-form-field appYearMonthFormat>
                    <mat-label>Month and Year</mat-label>
                    <input matInput [matDatepicker]="dp" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp startView="multi-year" 
                      (yearSelected)="chosenYearHandler($event)"
                      (monthSelected)="chosenMonthHandler($event, dp)">
                    </mat-datepicker>
                  </mat-form-field>
                
            </div>
            <div class="form-group findfield">
                <mat-form-field style="width: 150px;">
                    <mat-label for="concepto_id">Concepto</mat-label>
                    <mat-select name="concepto_id" [(ngModel)]="findConcepto_id"
                        (ngModelChange)="changeFindConceptos($event)">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let concepto of findConceptos;" [value]="concepto.id">
                            {{concepto.descripcion}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group findfield" *ngIf="findConcepto_id">
                <mat-form-field style="width: 150px;">
                    <mat-label for="subconcepto_id">Subconcepto</mat-label>
                    <mat-select name="subconcepto_id" [(ngModel)]="findSubconcepto_id">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let subconcepto of findSubConceptos;" [value]="subconcepto.id">
                            {{subconcepto.descripcion}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- <div class="form-group findfield">
                <mat-form-field style="width: 150px;">
                    <mat-label for="useragenda_id">Forma Pago</mat-label>
                    <mat-select name="useragenda_id" [(ngModel)]="findFormapago_id">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let fp of formaPagos;" [value]="fp.id">
                            {{fp.descripcion}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->
            <div class="form-group findfield">
                <button mat-raised-button color="primary" type="button" [disabled]="saveDisabled"
                    (click)="getRegistrosCaja()">
                    <mat-icon>manage_search</mat-icon> Consultar
                </button>
            </div>
            <div class="form-group findfield">
                <app-button-print #buttoncaja
                [viewIcon]="true"
                [icon]="'fa fa-file-pdf-o fa-lg'"
                [label]="'Imprimir PDF'"
                [tipoBtn]="1"
                [loadHtml]='false'
                [template]="template"
                [data]="model"    
                [disabled]="btnExcel"
                (click)="cargarTemplate(1)"                                      
                (actionClick)="printCaja($event)">
              </app-button-print>
            </div>
            <div class="form-group findfield">
                <button mat-raised-button [ngClass]="{'btnexcel': showMyClass}" type="button" [disabled]="btnExcel"
                (click)="exporter.exportTable('csv', {fileName:'CajaGeneral'+fechaDesde+'-'+fechaHasta, sheet: 'sheet_name', Props: {Author: 'Admin COL'}})">
                <mat-icon>save_alt</mat-icon>Exportar Excel
            </button>
            </div>
        </div>
    </mat-card>
    <div class="example-container mat-elevation-z4 mt-3">
        <mat-card style="width: 100%;">
            <mat-card-content>
                <div>             
                    <div class="cajarow">
                        <div  class="form-group">
                            Periodo Anterior: {{periodoAnt[0]?.periodo}} 
                        </div>
                        <div *ngIf="periodoAnt[0]?.saldocierre > 0" class="form-group">
                            Saldo Inicio: ${{periodoAnt[0]?.saldoinicio | number}} 
                        </div>
                        <div *ngIf="!!this.periodoSelect && periodoAnt[0]?.saldoinicio == null" class="form-group">
                            <span style="color:#e40d3c">Sin Cierre Mensual</span>
                        </div>
                        <div  class="form-group">
                         Ingreso: ${{periodoAnt[0]?.ingreso | number}} 
                        </div>
                        <div  class="form-group">
                         Egreso: ${{periodoAnt[0]?.egreso | number}} 
                        </div>
                        <div  *ngIf="periodoAnt[0]?.saldocierre > 0"  class="form-group">
                            Saldo Cierre: ${{periodoAnt[0]?.saldocierre | number}} 
                        </div>
                     </div>   
                </div>              
            </mat-card-content>          
        </mat-card>
    </div>    
    <div class="example-container mat-elevation-z4 mt-3">    
        <mat-card style="width: 100%;">
            <mat-card-content>
                <div *ngIf="tienecaja">             
                    <div class="cajarow">
                        <div  class="form-group">
                            Periodo: {{cajaMensualSelect.periodo}} 
                        </div>
                        <div  class="form-group">
                            Saldo Inicio: ${{cajaMensualSelect.saldoinicial | number}} 
                        </div>
                        <div  class="form-group">
                         Ingreso: ${{cajaMensualSelect.ingreso | number}} 
                        </div>
                        <div  class="form-group">
                         Egreso: ${{cajaMensualSelect.egreso | number}} 
                        </div>
                        <div  class="form-group">
                            Saldo Cierre: ${{cajaMensualSelect.saldocierre | number}} 
                        </div>
                     </div>   
                </div>
                <div *ngIf="!tienecaja">     
                    <div class="cajarow">
                        <div  class="form-group">
                            Periodo: {{periodoSelect}}
                           </div>
                        <div  class="form-group">
                         Ingreso: ${{totalFindIngreso | number}} 
                        </div>
                        <div  class="form-group">
                         Egreso: ${{totalFindEgreso | number}} 
                        </div>
                        <div *ngIf="totalFindNeto > 0" class="form-group">
                            Saldo: ${{totalFindNeto | number}} 
                        </div>
                        <div  class="form-group">
                            <button mat-raised-button color="primary" type="button" [disabled]="btnExcel"
                            (click)="DialogCierreMensual()">
                            <mat-icon>price_check</mat-icon> Cerrar Caja Mensual
                        </button>
                        </div>
                     </div>   
                </div>
            </mat-card-content>          
        </mat-card>
        <mat-table [dataSource]="dataSource">
            <!-- Id Column -->
            <ng-container matColumnDef="numregistro">
                <mat-header-cell *matHeaderCellDef>Nº</mat-header-cell>
                <mat-cell *matCellDef="let caja"> {{caja.id}}</mat-cell>
            </ng-container>
            <!-- fecha Column -->
            <ng-container matColumnDef="fecha">
                <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
                <mat-cell *matCellDef="let caja"> {{caja.fecha}}</mat-cell>
            </ng-container>
            <!-- Concepto Column -->
            <ng-container matColumnDef="concepto">
                <mat-header-cell *matHeaderCellDef>Concepto</mat-header-cell>
                <mat-cell *matCellDef="let caja"> {{caja.concepto.descripcion}}</mat-cell>
            </ng-container>
            <!-- SubConcepto Column -->
            <ng-container matColumnDef="subconcepto">
                <mat-header-cell *matHeaderCellDef>Subconcepto</mat-header-cell>
                <mat-cell *matCellDef="let caja"> {{caja.subconcepto.descripcion}} {{caja.proveedor?'('+caja.proveedor?.descripcion+')':''}}</mat-cell>
            </ng-container>          
            <!-- Formapago Column -->
            <ng-container matColumnDef="formapago">
                <mat-header-cell *matHeaderCellDef>Forma Pago</mat-header-cell>
                <mat-cell *matCellDef="let caja"> {{caja.formapago?.descripcion}}</mat-cell>
            </ng-container>
            <!-- Importe Column -->
            <ng-container matColumnDef="importe">
                <mat-header-cell *matHeaderCellDef>Importe</mat-header-cell>
                <mat-cell *matCellDef="let caja">
                    <span class="{{getColorEtiqueta(caja.tiporegistro)}}">${{caja.importe}}</span>
                </mat-cell>
            </ng-container>
            <!-- Acciones Column -->
            <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let caja">
                    <button ngbTooltip="Ver Registro" type="button" class="btn btn-sm"
                        (click)="openDialogRegistroCaja(caja)">
                        <i class="fa fa-list fa-lg"></i>
                    </button>
                    <button ngbTooltip="Editar Registro" type="button" *ngIf="!caja.registrocerrado"
                        class="btn btn-sm" (click)="editarRegistroCaja(caja)">
                        <i class="fa fa-pencil fa-lg"></i>
                    </button>
                    <button ngbTooltip="Eliminar Registro" type="button" *ngIf="!caja.registrocerrado"
                        class="btn btn-sm" (click)="dialogEliminarRegistro(caja)">
                        <i class="fa fa-trash fa-lg"></i>
                    </button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumnsCaja"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsCaja;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[50, 100, 150, 200]"></mat-paginator>
    </div>
    <div style="display: none;">
        <mat-table  matTableExporter [dataSource]="dataSource" #exporter="matTableExporter">
            <!-- numero registro Column -->
            <ng-container matColumnDef="numregistro">
                <mat-header-cell *matHeaderCellDef>Nº</mat-header-cell>
                <mat-cell *matCellDef="let caja"> {{caja.id}}</mat-cell>
            </ng-container>
            <!-- fecha Column -->
            <ng-container matColumnDef="fecha">
                <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
                <mat-cell *matCellDef="let caja"> {{caja.fecha}}</mat-cell>
            </ng-container>
             <!-- Registro Column -->
             <ng-container matColumnDef="tiporegistro">
                <mat-header-cell *matHeaderCellDef>Tipo Registro</mat-header-cell>
                <mat-cell *matCellDef="let caja"> {{caja.tiporegistro.descripcion}}</mat-cell>
            </ng-container>
            <!-- Concepto Column -->
            <ng-container matColumnDef="concepto">
                <mat-header-cell *matHeaderCellDef>Concepto</mat-header-cell>
                <mat-cell *matCellDef="let caja"> {{caja.concepto.descripcion}}</mat-cell>
            </ng-container>
            <!-- SubConcepto Column -->
            <ng-container matColumnDef="subconcepto">
                <mat-header-cell *matHeaderCellDef>Subconcepto</mat-header-cell>
                <mat-cell *matCellDef="let caja"> {{caja.subconcepto.descripcion}}</mat-cell>
            </ng-container>
            <!-- Descripcion Column -->
            <ng-container matColumnDef="descripcion">
                <mat-header-cell *matHeaderCellDef>Descripcion</mat-header-cell>
                <mat-cell *matCellDef="let caja"> {{caja.observacion}}</mat-cell>
            </ng-container>
            <!-- Formapago Column -->
            <ng-container matColumnDef="formapago">
                <mat-header-cell *matHeaderCellDef>Forma Pago</mat-header-cell>
                <mat-cell *matCellDef="let caja"> {{caja.formapago?.descripcion}}</mat-cell>
            </ng-container>
            <!-- Ingreso Column -->
            <ng-container matColumnDef="ingreso">
                <mat-header-cell *matHeaderCellDef>Ingreso</mat-header-cell>
                <mat-cell *matCellDef="let caja"> {{caja.tiporegistro_id == 1?formatNumber(caja.importe):''}}</mat-cell>
            </ng-container>
            <!-- Egreso Column -->
            <ng-container matColumnDef="egreso">
                <mat-header-cell *matHeaderCellDef>Egreso</mat-header-cell>
                <mat-cell *matCellDef="let caja"> {{caja.tiporegistro_id == 2?formatNumber(caja.importe):''}}</mat-cell>
            </ng-container>             
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table> 
    </div>
</div>