<div class="container titulo">
    <h2 style="color:#3a6dbc">Reportes</h2>
</div>
<div class="container mt-3">
    <mat-card class="mat-elevation-z4 mt-3">
        <h3 style="color:#3a6dbc"><span class="material-icons">query_stats</span> Consultar Reporte Anual</h3>
        <div class="rowDate">
            <div class="form-group rangofechas">
                <mat-form-field style="width: 100px;">
                    <input matInput [matDatepicker]="dp" placeholder="Año"  [formControl]="date">
                    <mat-datepicker-toggle matSuffix [for]="dp" ></mat-datepicker-toggle>
                    <mat-datepicker #dp startView="multi-year" 
                        (yearSelected)="chosenYearHandler($event, dp)"   
                         panelClass="example-month-picker">
                    </mat-datepicker>
                </mat-form-field>
            </div>
            <div class="form-group">
                <button mat-raised-button color="primary" type="button"
                (click)="getTotalesByYear()">
                <mat-icon>manage_search</mat-icon> Consultar
               </button>
            </div>
        </div>
        <div class="rowInfo">  
            <div  class="form-group">
             Saldo Inicial: $ {{saldoInicial | number}}
            </div>
            <div  class="form-group">
             Ingreso: $ {{totalIngreso | number}}
            </div>
            <div  class="form-group">
             Egreso: $ {{totalEgreso | number}}
            </div>
            <div  class="form-group">
                Saldo:  $ {{saldo | number}}
            </div>
            <div class="form-group findfield">
                <app-button-print #buttonreporte
                [viewIcon]="true"
                [icon]="'fa fa-file-pdf-o fa-lg'"
                [label]="'Imprimir PDF'"
                [tipoBtn]="1"
                [loadHtml]='false'
                [template]="template"
                [data]="model"    
                [disabled]="btnDisabled"
                (click)="cargarTemplate(2)"                                      
                (actionClick)="print($event)">
              </app-button-print>
            </div>
        </div>    
    </mat-card>
      
    <!-- <mat-card class="mat-elevation-z4 mt-3">
        <h3 style="color:#3a6dbc"><i class="fa fa-book"></i> Consultar Registros</h3>
        <div class="rowDate">
            <div class="form-group rangofechas">
                <mat-form-field style="width: 200px;">
                    <mat-label>Ingrese Rango Fechas</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Start date" (dateChange)="onChangeDateStart($event)"
                            [value]="today">
                        <input matEndDate placeholder="End date" (dateChange)="onChangeDateEnd($event)" [value]="">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </div>
            <div class="form-group findfield">
                <mat-form-field style="width: 150px;">
                    <mat-label for="concepto_id">Concepto</mat-label>
                    <mat-select name="concepto_id" [(ngModel)]="findConcepto_id"
                        (ngModelChange)="changeFindConceptos($event)">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let concepto of findConceptos;" [value]="concepto.id">
                            {{concepto.descripcion}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>                  
            <div class="form-group findfield">
                <button mat-raised-button color="primary" type="button" [disabled]="saveDisabled"
                    (click)="getRegistrosCaja()">
                    <mat-icon>manage_search</mat-icon> Consultar
                </button>
            </div>
            <div class="form-group findfield">
                <app-button-print #buttoncaja
                [viewIcon]="true"
                [icon]="'fa fa-file-pdf-o fa-lg'"
                [label]="'Imprimir PDF'"
                [tipoBtn]="1"
                [loadHtml]='false'
                [template]="template"
                [data]="model"                   
                (click)="cargarTemplate(1)"                                      
                (actionClick)="print($event)">
              </app-button-print>
            </div>           
        </div>
    </mat-card> -->
</div>
