<div class="container titulo">
    <h2 style="color:#3a6dbc">Reportes</h2>
</div>
<div class="container mt-3">
    <mat-card class="mat-elevation-z4 mt-3">
        <h3 style="color:#3a6dbc"><span class="material-icons">query_stats</span> Consultar Reporte Anual</h3>
        <div class="rowDateone">            
            <div class="form-group rangofechas">
                <mat-form-field style="width: 100px;">
                    <input matInput [matDatepicker]="dp" placeholder="Año"  [formControl]="date">
                    <mat-datepicker-toggle matSuffix [for]="dp" ></mat-datepicker-toggle>
                    <mat-datepicker #dp startView="multi-year" 
                        (yearSelected)="chosenYearHandler($event, dp)"   
                         panelClass="example-month-picker">
                    </mat-datepicker>
                </mat-form-field>
            </div>
            <div class="form-group">
                <button mat-raised-button color="primary" type="button"
                (click)="getTotalesByYear()">
                <mat-icon>manage_search</mat-icon> Consultar
               </button>
            </div>
        </div>
        <div class="rowInfo">  
            <div  class="form-group">
             Saldo Inicial: $ {{saldoInicial | number}}
            </div>
            <div  class="form-group">
             Ingreso: $ {{totalIngreso | number}}
            </div>
            <div  class="form-group">
             Egreso: $ {{totalEgreso | number}}
            </div>
            <div  class="form-group">
                Saldo:  $ {{saldo | number}}
            </div>
            <div class="form-group findfield">
                <app-button-print #buttonreporte
                [viewIcon]="true"
                [icon]="'fa fa-file-pdf-o fa-lg'"
                [label]="'Imprimir PDF'"
                [tipoBtn]="1"
                [loadHtml]='false'
                [template]="template"
                [data]="model"    
                [disabled]="btnDisabled"
                (click)="cargarTemplate(2)"                                      
                (actionClick)="print($event)">
              </app-button-print>
            </div>
        </div>    
    </mat-card>
    <div *ngIf="result.length > 0" class="divchar mat-elevation-z4 mt-3">
        <h3 style="color:#3a6dbc">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="material-icons">leaderboard</span>Gráfico de Barra de Ingresos y Egresos año {{anio}}</h3> 
        <div id="print-section" class="divchardos">      
            <ngx-charts-bar-vertical-2d
                        [view]="[600, 400]"
                        [scheme]="colorScheme"
                        [results]="result"
                        [gradient]="gradient"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [legend]="showLegend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        [legendTitle]="legendTitle"
                        (select)="onSelect($event)">
            </ngx-charts-bar-vertical-2d>   
       </div> 
       <!-- <button  printSectionId="print-section" ngxPrint color-adjust="exact"  useExistingCss="true" printTitle="Gráfico de Barra de Ingresos y Egresos año {{anio}}">print</button>     -->
    </div>
  



    <!-- <mat-card class="mat-elevation-z4 mt-3">
        <h3 style="color:#3a6dbc"><span class="material-icons">query_stats</span> Consultar Reporte Por Cuenta</h3>
        <div class="rowDate">
            <div class="form-group meses">
                <mat-form-field>
                  <mat-label for="mes">Meses</mat-label>
                  <mat-select name="mes" [(ngModel)]="mesSelect_id">
                      <mat-option></mat-option>
                      <mat-option *ngFor="let mes of meses;" [value]="mes.id">
                          {{mes.name}}
                      </mat-option>
                  </mat-select>
              </mat-form-field>
              </div>
            <div class="form-group rangofechas">
                <mat-form-field style="width: 100px;">
                    <input matInput [matDatepicker]="dp2" placeholder="Año"  [formControl]="date2">
                    <mat-datepicker-toggle matSuffix [for]="dp2" ></mat-datepicker-toggle>
                    <mat-datepicker #dp2 startView="multi-year" 
                         (yearSelected)="chosenYearTwoHandler($event, dp2)"  
                         panelClass="example-month-picker">
                    </mat-datepicker>
                </mat-form-field>
            </div>
            <div class="form-group tiporegistro">
                <mat-form-field>
                    <mat-label for="tiporegistro_id">Tipo Registro</mat-label>
                    <mat-select name="tiporegistro_id" [(ngModel)]="tipoRegistro_id"
                        (ngModelChange)="changeTipoRegistro($event)" required>
                        <mat-option *ngFor="let tregistro of tipoRegistros;" [value]="tregistro.id">
                            {{tregistro.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group conceptos">
                <mat-form-field>
                    <mat-label for="concepto_id">Concepto</mat-label>
                    <mat-select name="concepto_id" [(ngModel)]="concepto_id"
                        (ngModelChange)="changeConceptos($event)" >
                        <mat-option></mat-option>
                        <mat-option *ngFor="let concepto of conceptos;" [value]="concepto.id">
                            {{concepto.descripcion}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group subconceptos">
                <mat-form-field>
                    <mat-label for="subconcepto_id">Subconcepto</mat-label>
                    <mat-select name="subconcepto_id" [(ngModel)]="subconcepto_id" >
                        <mat-option></mat-option>
                        <mat-option *ngFor="let subconcepto of subConceptos;" [value]="subconcepto.id">
                            {{subconcepto.descripcion}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>             
            <div class="form-group">
                <button mat-raised-button color="primary" type="button"
                (click)="getTotalesByCuenta()">
                <mat-icon>manage_search</mat-icon> Consultar
               </button>
            </div>
        </div>        
    </mat-card>       -->
  
</div>
